<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="browserName" value="Chrome" />
    <!-- Chrome, IE, Firefox -->
    <add key="SeleniumDriverPath" value="C:\Users\ddivakar.HEALTHCONNEX\Source\Repos\Phoenix\HealthConnex.UISpec.Framework\HealthConnex.UISpec.Framework\Drivers" />
    <!--<add key="gridUrl" value="http://localhost:4444/wd/hub/" />-->
    <add key="browserUrl" value="https://accounts.google.com/ServiceLogin?#identifier" />
    <add key="Reports" value="C:\temp\ZenithWorkforceManagementAppTestResults.html" />
    <add key="Author" value="Deshdeep"/>
    <add key="takeScrenshot" value="true"/>
    <add key="screenshotfolder" value="C:\temp\Zenith"/>
  </appSettings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="xUnit" /></specFlow>
</configuration>